/* Main Site Content
=============================== */

.site-content {
	max-width: 990px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* About Content
=============================== */

.about-content,
.teaching-format-content,
.policy-content,
.topics-content,
.professor-schedule-content {
	margin-top: 20px;
	font-weight: 700;
	h2 {
		margin: 0;
		padding-bottom: 10px;
		border-bottom: 3px solid $site-main-maroon;
		color: $site-main-maroon;
		@media (max-width: 768px) {
			font-size: 28px;
		}
		@media (max-width: 630px) {
			font-size: 24px;
		}
	}
}

.content-row {
	@include display(flex);
	@include align-items(center);
	border-bottom: 1px solid rgba(151,151,151,0.2);
	padding: 40px 0;
	&:last-child {
		border-bottom: none;
	}
	@media (max-width: 768px) {
		font-size: 16px;
	}
	@media (max-width: 630px) {
		display: block;
		border-bottom: none;
		padding: 20px 0;
		border-bottom: 1px solid rgba(151,151,151,0.2);
	}
}

.content-column {
	&:first-child {
		@include flex(1);
		color: #aaa;
		max-width: 479px;
		width: 100%;
		@media (max-width: 630px) {
			margin-bottom: 10px;
		}
	}
	&:last-child {
		@include flex(1);
		padding-left: 30px;
		max-width: 480px;
		border-left: 1px solid rgba(151,151,151,0.2);
		width: 100%;
		margin-top: -20px;
		margin-bottom: -20px;
		@media (max-width: 630px) {
			margin: 0;
			border-left: none;
			padding-left: 0;
		}
	}
	ul {
		padding: 0 20px;
		@media (max-width: 630px) {
			margin: 0;
		}
	}
}

.instructor-img-holder {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	@media (max-width: 768px) {
		img {
			max-width: 50px;
			width: 100%;
		}
	}
}

.instructor-info {
	display: inline-block;
	margin: 0 0 0 30px;
	padding: 0 !important;
	vertical-align: middle;
	@media (max-width: 630px) {
		margin-left: 30px !important;
	}
}

.grading-scale-list {
	display: inline-block;
	text-align: center;
	padding-top: 0 !important;
	vertical-align: middle;
	@media (max-width: 768px) {
		padding-left: 0 !important;
	}
	li {
		&:first-child {
			text-decoration: underline;
		}
		list-style: none;
	}
	&:last-child {
		padding-top: 25px !important;
	}
}

/* Professor Schedule
=============================== */

.professor-schedule-content {
	h3 {
		font-family: "Karla", sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		border-bottom: 2px solid #555;
		padding-bottom: 5px;
		margin: 5px 0;
		@media (max-width: 630px) {
			font-size: 18px;
		}
	}
}

.professor-vitals,
.professor-courses, {
	margin-top: 20px;
	.content-row {
		padding: 10px 0;
	}
}

.professor-daily-schedule {
	margin-top: 20px;
	.content-column {
		span {
			display: inline-block;
			background-color: $schedule-officehours-green;
			padding: 3px 5px;
			color: white;
			border-radius: 5px;
		}
	}
}

.professor-other-contacts {
	margin-top: 20px;
}












